<!DOCTYPE html>
  <html lang="en">
  <head>
      <script src="../js_scripts/main.js"></script>
      <script src="../js_scripts/get_Msg.js"></script>
      <script src="../js_scripts/chat_room.js"></script>
    <title>Flask_Chat_App</title>
  </head>
  <body>
    <h1> My Session</h1>
    <!-- <ul>
      <li id="users-list" onclick="createChatRoom()"></li>
    </ul> -->
    <!-- <form>
        <input type="text" class="form-input" id="message" placeholder="Enter message" required="required">
      </form>
      <button type="submit" class="button" onclick="sendMessage()" >Send Message</button>  -->
  </body>
</html>