<!DOCTYPE html>
<html>
<head>
	<title>Signup page</title>
	<script src="../js_scripts/main.js"></script>
</head>
<body>
	<form method="POST" id="signupForm" action="login.html">
            <input type="text" class="form-input" id="username" placeholder="Username" required="required">
            <input type="email" class="form-input" id="email" placeholder="Email" required="required">
            <input type="password" class="form-input" id="password" placeholder="Password" required="required">
	</form>
	<button type="submit" class="signup-button" onclick="signUp();">SignUp</button>
</body>
</html>
